.location{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    /*justify-content: center;*/
}

.input{
    display: block;
    width: 100px;
    height: 30px;
    margin: 0;
    /*padding: 0.375rem 0.75rem*/
    font-size: 1rem;
    background-color: #e7d4d4;
    color: #2f312f;
    text-align: center;

}